<div class="page-container">
    
    <header>
        <div style="flex: 1;"></div>
        
        <h1>O aplikaciji</h1>
        
        <div style="flex: 1; text-align: right;">
            <a routerLink="/home" class="link-povratak">Povratak na početnu stranicu</a>
        </div>
    </header>

    <main class="glavni-sadrzaj">
        <h2>Aplikacije banke</h2>
        
        <p>Ova aplikacija zainteresovanim stranama pruža informacije o bankama, filijalama tih banaka,korisnicima usluga u njima te njihovim uslugama koje koriste. Takođe sadrži stranice sa informacijama o autoru i stranici.</p>
        
        <br>
        
        <p>Više informacija o autoru:</p>
        <a routerLink="/author" class="btn-autor">Autor aplikacije</a>
    </main>

    <footer>
        <p>Danilo Drobnjak IM181-2023 - aplikacija banka</p>
    </footer>

</div>