<div class="page-container"> <header class="glavni-header">
    <h1 class="naslov-levo">Aplikacija poslovanje banke</h1>
    
    <div class="meni-desno">
      <span class="info-labela">Informacije:</span>
      <a routerLink="/about" class="link-btn">O aplikaciji</a>
      <a routerLink="/author" class="link-btn">O autoru</a>
    </div>
  </header>

  <main class="slika-kontejner">
    <img src="assets/images/bank.jpg" alt="Banka" class="banka-slika">
  </main>

  <footer>
    <p>Danilo Drobnjak IM 181-2023 - aplikacija banka</p>
  </footer>

</div>