<div class="page-container">
    <header>
        <div style="flex: 1;"></div>
        <h1>O autoru</h1>
        <div style="flex: 1; text-align: right;">
            <a routerLink="/home" class="link-povratak">Povratak na početnu stranicu</a>
        </div>
    </header>

    <main>
        <h2>Danilo Drobnjak</h2>
        
        <div class="autor-info-container">
            <div class="leva-kolona">
                <img src="../../../assets/images/benidorm.jpeg" alt="Autor">
                <a routerLink="/about" class="btn-autor">O aplikaciji</a>
            </div>
            
            <div class="desna-kolona">
                <p>Fakultet tehničkih nauka - Inženjerski (informacioni) menadžment - IM 181/2023
                </p>
                <p>
                    Rođen 25.03.2003. u Novom Sadu
                </p>
                <p>
                    Četvrta gimnazija u Beogradu - društveno jezički smer
                </p>
                 <p>
                    Email - danilodrobnjak03@gmail.com
                </p>
                <div class="iskustva">
                    <h3>Ikustva i rad sa programskim jezicima na fakultetu:</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C#</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Danilo Drobnjak IM181-2023 - aplikacija banka</p>
    </footer>
</div>